/* svg {
	margin: 20px;
} */

circle {
	fill: steelblue;
	opacity: 0.5;
}

.line-path {
	fill:	steelblue;
	stroke: steelblue;
	stroke-linejoin: round;
}

text {
	font-family: sans-serif;
}

.tick text {
	font-size: 1.2em;
	fill: #635F50;
}

.tick line {
	stroke: #C0C0BB;
}

.axis-label {
	font-size: 2em;
	fill: #635F50;
}

.title {
	font-size: 2em;
	fill: black;
}